@media only screen and (max-width: 1200px) {
    .left_flower {
        visibility: hidden;
    }
    .rightside {
        visibility: hidden;
    }
    .leftside {
        visibility: hidden;
    }
}